.about__timeline-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
@media screen and (max-width: 768px) {
    .about__timeline-front {
        width: 528px;
      }
}
@media screen and (max-width: 320px) {
    .about__timeline-front {
        width: 184px;
      }
}