.profile__form-label {
  color: #000;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 16px;
border: none;
border-bottom: 1px solid #E8E8E8;
display: flex;
justify-content: space-between;
width: 410px;
margin-bottom: 17px;
}

.profile__form-label:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

@media screen and (max-width: 320px) {
  .profile__form-label {
      width: 260px;
    }
}



