.tech__p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
  max-width: 460px;
  margin: 0;
}
@media screen and (max-width: 768px) {
    .tech__p {
        font-size: 12px;
        line-height: 18px;
      }
}
@media screen and (max-width: 320px) {
    .tech__p {
        font-size: 11px;
        line-height: 16px;
      }
}