.intro__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: auto;
  max-width: 730px;
  margin-bottom: 224px;
  margin-top: 184px;
}
@media screen and (max-width: 768px) {
    .intro__title {
        margin-top: 326px;
        margin-bottom: 342px;
      }
}
@media screen and (max-width: 320px) {
    .intro__title {
        margin-top: 207px;
        margin-bottom: 246px;
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -1.24px;
      }
}