.about {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 70px;
}
@media screen and (max-width: 768px) {
    .about {
        padding: 0 50px;
      }
}
@media screen and (max-width: 320px) {
    .about {
        padding: 0 18px;
      }
}