.searchForm__search-stroke {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 875px;
  align-items: center;
  padding-right: 19px;
  border-right: solid 1px #CBCBCB ;
  height: 40px;
}

@media screen and (max-width: 320px) {
  .searchForm__search-stroke {
 width: 100%;
 padding-right: 0;
 border-right: none;
 margin-bottom: 46px;
 box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  max-width: 100%;
  border-radius: 9px;
  padding: 19px;
  height: auto;
    }
}