.auth-page__title {
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 29px;
margin: 0;
margin-bottom: 40px;
max-width: 396px;
}

@media screen and (max-width: 320px) {
    .auth-page__title {
        margin-bottom: 80px;
        font-size: 24px;
        line-height: normal;
      }
}

