.nav__close {
    width: 22px;
    height: 22px;
    position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__close:hover {
  opacity: 0.7;
}