.moviesCardList__btn-save {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #000;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 9px; /* 90% */
border-radius: 30px;
background: #F9F9F9;
padding: 6px 7px;
border: none;
}