.error__btn {
    color: #000;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 60px;
background-color: transparent;
border: none;
text-decoration: none;
cursor: pointer;
}

@media screen and (max-width: 320px) {
    .error__btn {
margin-bottom: 30px;
font-size: 12px;
}
}

.error__btn {
    opacity: 0.7;
}