.tech__heading {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: 100px 0 26px;
}
@media screen and (max-width: 768px) {
    .tech__heading {
        margin: 80px 0 22px;
      }
}
@media screen and (max-width: 320px) {
    .tech__heading {
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 24px;
        letter-spacing: -1.2px;
      }
}