.searchForm__form {
  background: #fdfdfd;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  max-width: 100%;
  border-radius: 9px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 30px 16px 19px;
  
}

@media screen and (max-width: 320px) {
  .searchForm__form {
  flex-direction: column;
  box-shadow: none;
  max-width: 100%;
  border-radius: none;
  padding: 0 19px;
    }
}

