.portfolio__link {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    align-items: center;
  }
  @media screen and (max-width: 320px) {
      .portfolio__link:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }
  }
  .portfolio__link:last-child {
    margin-bottom: 0;
  }