.moviesCardList__grid {
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 58px;
  column-gap: 30px;
  margin: auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .moviesCardList__grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 45px;
      }
}

@media screen and (max-width: 320px) {
  .moviesCardList__grid {
    grid-template-columns: 1fr;
    row-gap: 36px;
    }
}