.portfolio__heading {
    color: #a0a0a0;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    margin: 0 0 50px 0;
    padding: 0;
  }
  @media screen and (max-width: 320px) {
      .portfolio__heading {
          margin-bottom: 40px;
          font-size: 14px;
          line-height: 20px;
        }
  }