.profile__edit-btn_disabled {
    width: 100%;
    color: #C2C2C2;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 3px;
background: #F8F8F8;
padding: 13px 0 15px;
border: none;
margin-bottom: 16px;
text-decoration: none;
cursor: none;

}

@media screen and (max-width: 768px) {
    .profile__edit-btn_disabled {
       font-size: 14px;
       
      }
}


@media screen and (max-width: 320px) {
    .profile__edit-btn_disabled {
       font-size: 12px;
       
      }
}