.searchForm__short-text {
  color: #000;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 138.462% */
}

@media screen and (max-width: 320px) {
  .searchForm__short-text {
font-size: 11px;
    }
}