.about__timeline_black {
  background-color: #000;
  width: 20%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
    .about__timeline_black {
        width: 140px;
      }
}
@media screen and (max-width: 320px) {
    .about__timeline_black {
        width: 100px;
      }
}