.nav__content {
    position: fixed;
  top: 0;
  right: 0;
  width: 520px;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  display: flex;
justify-content: center;  
max-width: 80%;
}

@media screen and (max-width: 320px) {
    .nav__content{
   width: 100%;
   
      }
  }