.tech__list-item {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  margin-right: 10px;
  padding: 21px 0;
  border-radius: 10px;
  background: #e8e8e8;
  list-style: none;
  width: 90px;
}
@media screen and (max-width: 768px) {
    .tech__list-item {
        width: 84px;
        font-size: 12px;
        margin-bottom: 10px;
      }
}
.tech__list-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 320px) {
    .tech__list-item:nth-child(2n) {
        margin-right: 0;
      }
}
@media screen and (max-width: 320px) {
    .tech__list-item {
        font-size: 12px;
      }
}
@media screen and (max-width: 320px) {
    .tech__list-item:last-child {
        margin-bottom: 0;
      }
}