.auth-page__form-btn {
    width: 100%;
    color: #FFF;
text-align: center;
font-family: 'Inter', 'Arial', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 3px;
background: #000;
padding: 13px 0 15px;
border: none;
margin-bottom: 16px;
text-decoration: none;
cursor: pointer;
}


@media screen and (max-width: 768px) {
    .auth-page__form-btn {
       font-size: 14px;
       
      }
}


@media screen and (max-width: 320px) {
    .auth-page__form-btn {
       font-size: 12px;
       
      }
}

.auth-page__form-btn:hover {
    opacity: 0.7;
}