.about__heading {
  margin: 70px 0 26px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}
@media screen and (max-width: 768px) {
    .about__heading {
        margin: 70px 0 22px;
      }
}
@media screen and (max-width: 320px) {
    .about__heading {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px 0;
        padding: 0;
      }
}